body{
    background-image: url(/src/imagenes/arm-1284248_1280.jpg);
    background-size: cover;
   
}

#loginForm{
    width: 400px;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: black;
    box-shadow: 7px 13px 37px #000;
}

h1{
    font-size: 22px;
    margin-bottom: 20px;
}

.container{

    background-color: #aaa;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid white;
    font-family: 'calibri';
    font-size: 18px;
}

button{
    background-color: #3c2048;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    cursor: pointer;
}