body{
    background-image: url(/src/imagenes/camera-1130731_1280.jpg);
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f9f9f9;
}


.cuadro {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #e6e2e2;
}
button {
margin-left: 5px;
}

.container {
    display: inline-block;
    width: 95%;
    margin: 20px;
}

.titulo {
    text-align: center;
    color: white;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas */
    gap: 10px; /* Espacio entre elementos */
}

.evento, .tarea {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.eliminarDescripcion{
    margin-left: 100px;
    margin: 10px;
    color: purple;
}

#G-tarea{
    color: white;
}