.cuadro{
    border: solid 1px;
    text-align: center;
    width: 400px;
    margin: 10px auto;

}

.cuadro-grande{
    border: solid 2px;
    width: 550px;
    text-align: center;
    margin: auto;
}

#fecha{
    text-wrap: nowrap;
}