body {
    font-family: Arial, sans-serif;
  }
  
  #app {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: -400px;
  }
  
  input[type="text"] {
    width: 70%;
    padding: 8px;
    margin-right: 10px;
  }
  
  button {
    padding: 8px 20px;
    cursor: pointer;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: 200px 200px 200px;
  }

  
  li {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
  }

  .task {
    border: 1px solid #ccc;
    padding: 8px;
    margin-bottom: 4px;
    transition: height 0.3s;
    overflow: hidden;
  }
  
  .task-description {
    display: none;
    margin-top: 8px;
  }
  
  .task.expand {
    height: auto;
  }
  
  .task.expand .task-description {
    display: block;
  }
  
  
 

.modal{
margin-left: 1050px;

}

.modal-container{
  margin: auto;
  width: 90%;
  max-width: 300px;
  background-color: #ad3434;
  border-radius: 20px;
  padding: 2em;
  display: grid;
  gap: 1em;
  place-items: center;
  grid-auto-columns: 100%;
}

.modal-input{
  width: 90%;
  max-width: 400px;
}

.modal-button{
  color: #fff;
  background-color: #f26250;
  padding: 1em 3em;
  border: 1px solid;
  border-radius: 6px;
}

.modal-button:hover{
  color: #f26250;
  background-color: #fff;
}